body {
  font-family: Georgia, serif;
}

.auth-container {
  display: flex;
  height: 95vh;
}

/* Home Page Background */
.auth-photo {
  flex: 1;
  background: url('https://images.pexels.com/photos/5428830/pexels-photo-5428830.jpeg') no-repeat center center/cover;
}

/* Login Page photo */
.auth-photo-login {
  background: url('https://images.pexels.com/photos/29579027/pexels-photo-29579027/free-photo-of-minimalist-design-with-scrabble-letters-spelling-hey.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
}

/* Signup Page photo */
.auth-photo-signup {
  background: url('https://images.pexels.com/photos/6168066/pexels-photo-6168066.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
}


.auth-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 30px;
}

.auth-card {
  text-align: center;
  max-width: 400px;
}

.auth-title {
  font-size: 32px;
  font-weight: bold;
  color: #704241;
  margin-bottom: 20px;
}

.auth-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #D4BEB0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.dashboard {
  text-align: center;
  margin: 20px;
}

.add-btn, .submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  color: red;
  font-size: 20px;
  float: right;
}

